'fileTypes': [
  'reiny'
]
'name': 'Reiny'
'patterns': [
  {
    'captures':
      '1':
        'name': 'keyword.control.import.include.reiny'
    'match': '^\\s*\\b(include)\\b'
  }
  {
    'match': '^(!!!)(\\s*[a-zA-Z0-9-_]+)?'
    'name': 'keyword.other.doctype.reiny'
  }
  {
    'captures':
      '1':
        'name': 'punctuation.section.comment.reiny'
    'match': '^\\s*(//-?)(?:\\s*[^-\\s]|\\s+\\S).*$\\n?'
    'name': 'comment.line.double-slash.reiny'
  }
  {
    'begin': '^(\\s*)(//-?)\\s*$'
    'beginCaptures':
      '2':
        'name': 'punctuation.section.comment.reiny'
    'end': '^(?!\\1\\s+|$)'
    'name': 'comment.block.reiny'
  }
  {
    'begin': '^(\\s*)(\\:markdown)'
    'beginCaptures':
      '2':
        'name': 'entity.name.function.reiny'
    'end': '^(?!\\1\\s+)'
    'name': 'meta.filter.markdown.reiny'
    'patterns': [
      {
        'include': 'text.html.markdown'
      }
    ]
  }
  {
    'begin': '^(\\s*)(\\:sass)'
    'beginCaptures':
      '2':
        'name': 'entity.name.function.reiny'
    'end': '^(?!\\1\\s+)'
    'name': 'meta.filter.sass.reiny'
    'patterns': [
      {
        'include': 'source.sass'
      }
    ]
  }
  {
    'begin': '^(\\s*)(\\:less)'
    'beginCaptures':
      '2':
        'name': 'entity.name.function.reiny'
    'end': '^(?!\\1\\s+)'
    'name': 'meta.filter.less.reiny'
    'patterns': [
      {
        'include': 'source.css.less'
      }
    ]
  }
  {
    'begin': '^(\\s*)(\\:coffeescript)'
    'beginCaptures':
      '2':
        'name': 'entity.name.function.reiny'
    'end': '^(?!\\1\\s+)(?=\\s*.)'
    'name': 'meta.filter.coffee.reiny'
    'patterns': [
      {
        'include': 'source.coffee'
      }
    ]
  }
  {
    'begin': '^(\\s*)(\\:cdata)'
    'beginCaptures':
      '2':
        'name': 'entity.name.function.reiny'
    'end': '^(?!\\1\\s+)'
    'name': 'meta.filter.cdata.reiny'
  }
  {
    'captures':
      '1':
        'name': 'storage.type.function.reiny'
      '2':
        'name': 'entity.name.function.reiny'
      '3':
        'name': 'punctuation.definition.parameters.begin.reiny'
      '4':
        'name': 'variable.parameter.function.reiny'
      '5':
        'name': 'punctuation.definition.parameters.end.reiny'
    'comment': 'match stuff like: mixin dialog-title-desc(title, desc)'
    'match': '^\\s*(mixin) ([\\w\\-]+)\\s*(\\()(.*?)(\\))'
    'name': 'meta.mixin.reiny'
  }
  {
    'captures':
      '1':
        'name': 'storage.type.function.reiny'
      '2':
        'name': 'entity.name.function.reiny'
    'comment': 'match stuff like: mixin dialog-title-desc'
    'match': '^\\s*(mixin) ([\\w\\-]+)'
    'name': 'meta.mixin.reiny'
  }
  {
    'begin': '^\\s*(-|=|!=)'
    'end': '$'
    'name': 'source.js.embedded.reiny'
    'patterns': [
      {
        'include': 'source.js'
      }
      {
        'match': '\\b(each)\\b'
        'name': 'keyword.control.js'
      }
    ]
  }
  {
    'begin': '^(\\s*)(script)'
    'beginCaptures':
      '2':
        'name': 'entity.name.tag.script.reiny'
    'end': '^((?=(\\1)([\\w#\\.]|$\\n?))|^$\\n?)'
    'name': 'source.js.embedded.reiny'
    'patterns': [
      {
        'begin': '(?<=script)\\s*\\('
        'end': '\\)'
        'patterns': [
          {
            'include': '#tag-stuff'
          }
        ]
      }
      {
        'include': 'source.js'
      }
    ]
  }
  {
    'match': '[#!]\\{[^\\}]+\\}'
    'name': 'string.interpolated.reiny'
  }
  {
    'begin': '^\\s*(?!\\w+\\:)(?:(([\\w]+))|(?=\\.|#))'
    'captures':
      '1':
        'name': 'meta.tag.any.reiny'
      '2':
        'name': 'entity.name.tag.reiny'
    'comment': 'Match any tag, id or class. skip AST filters'
    'end': '$|(?!\\.|#|=|-)'
    'patterns': [
      {
        'match': '\\.[\\w-]+'
        'name': 'meta.tag.attribute.class.reiny'
      }
      {
        'match': '#[\\w-]+'
        'name': 'meta.tag.attribute.id.reiny'
      }
    ]
  }
  {
    'begin': '(?<=\\w)\\s*\\('
    'end': '\\)'
    'name': 'meta.tag.attribute.reiny'
    'patterns': [
      {
        'include': '#tag-stuff'
      }
    ]
  }
]
'repository':
  'entities':
    'patterns': [
      {
        'captures':
          '1':
            'name': 'punctuation.definition.entity.reiny'
          '3':
            'name': 'punctuation.definition.entity.reiny'
        'match': '(&)([a-zA-Z0-9]+|#[0-9]+|#x[0-9a-fA-F]+)(;)'
        'name': 'constant.character.entity.reiny'
      }
      {
        'match': '&'
        'name': 'invalid.illegal.bad-ampersand.reiny'
      }
    ]
  'filter-langs':
    'patterns': [
      {
        'include': '#markdown'
      }
      {
        'include': '#sass'
      }
    ]
  'markdown':
    'begin': 'markdown\\s*$\\n?'
    'end': '(?!^\\1\\s+)'
    'patterns': [
      {
        'include': 'text.html.markdown'
      }
    ]
  'sass':
    'begin': '^(\\s*)\\:sass'
    'end': '(?!^\\1\\s+)'
    'patterns': [
      {
        'include': 'source.sass'
      }
    ]
  'string-double-quoted':
    'begin': '"'
    'beginCaptures':
      '0':
        'name': 'punctuation.definition.string.begin.reiny'
    'end': '"'
    'endCaptures':
      '0':
        'name': 'punctuation.definition.string.end.reiny'
    'name': 'string.quoted.double.reiny'
    'patterns': [
      {
        'include': '#entities'
      }
    ]
  'string-single-quoted':
    'begin': '\''
    'beginCaptures':
      '0':
        'name': 'punctuation.definition.string.begin.reiny'
    'end': '\''
    'endCaptures':
      '0':
        'name': 'punctuation.definition.string.end.reiny'
    'name': 'string.quoted.single.reiny'
    'patterns': [
      {
        'include': '#entities'
      }
    ]
  'tag-generic-attribute':
    'match': '\\b([a-zA-Z\\-:]+)'
    'name': 'entity.other.attribute-name.reiny'
  'tag-stuff':
    'patterns': [
      {
        'include': '#string-double-quoted'
      }
      {
        'include': '#string-single-quoted'
      }
      {
        'include': '#tag-generic-attribute'
      }
    ]
'scopeName': 'source.reiny'
